<%- include('../partials/header') %>
<h2>Enter the Flight </h2>
<form action="/flights/<%=flightId %>/tickets/create" method="POST">

<label>Seat Number
    <input name="seat" required pattern="[A-F][1-9]\d?">
</label><br>
<label>Price
    <input type="number" min="0" required name="price">
</label><br><br>
<input type="submit" value="Add Ticket">
</form>
<%- include('../partials/footer') %>


